 html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background:url("../img/bei.jpg") no-repeat;
      background-size: 100% 100%;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      }
    	/*  自定义*/
     	/*背景 */
    .swiper-slide{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;

    }



      /*slide s1*/



 .swiper-button-next{
     position: absolute;
     top: auto;
     bottom: 2%;
     left: 50%;
     margin-left: -13.5px;
     transform: rotate(-90deg)
 }
 .s1-head img{
     width:100%;
     position: absolute;
     top: -30%;
     left: 0%;
     animation: run ease-out  3s;
 }
 .s1-heada{
     top:21%;
     position:absolute;
     animation: zhuan linear infinite 8s;
 }
#textanimation-a{
    font-family: 'microsoft yahei', 方正行楷简体,sans-serif;
    font-size: 4em;
    color: #ffffff;
    font-weight: bold;
    left: -0.5%;
}
 .s1-p,.s1-p p{
     width: 344.81px;
     height: 96px;
     position: absolute;
     top: 25%;
 }
 .s1-main{
     color:#3edcfe;
     position:absolute;
     top:55%;
     font-size: 30px;
     text-shadow: none;
     line-height: 1;
     letter-spacing: 0.1em;
     font-weight: normal;
     font-style: normal;
     width: 80%;
     font-family:'楷体'
 }



 /*slide s2*/
 .s2-heada img{
     width:100%;
     position: absolute;
     top: -30%;
     left: 0%;
     /*animation: run ease-out  6s;*/
 }
.s2-head img{
    position:absolute ;
    top:12%;
    left:5%;
    width: 90%;
}

.s2-head{
    width: 85%;
    color: #fff;
}
 /*slide s3*/
 .s3-head,.swiper-container-3d{
     color: #fff;
     position: absolute;
     color: #fff;
     font-size: 22px;
     width: 144px;
     margin: auto;
     text-align: center;
     margin-top: -36%;
 }
 .s3-heada{
     position: absolute;
     top: -30%;
     left: 0%;
 }


 /*-*----slide s3----------*/


    /*/*----slide s4-----*/
.biaoge{
    border: 1px solid #51aebd;
    color: ivory;
    width: 20em;
    height: 3em;
}
.btn{
    background-color: #51aebd;
    border: none;
    color: white;
    padding: 10px 85px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



		/*YIN*/

 #music {
     width: 60px;
     height: 60px;
     position: fixed;
     right: 10px;
     top: 10px;
     z-index: 9;
 }

 #music .musictu {
     position: absolute;
     top: 8px;
     right: 8px;
     animation: run linear infinite 1s;
 }

 .musicimg {
     position: fixed;
     right: 8px;
     top: 8px;
     z-index: 9;
     width: 60px;
     height: 60px;
 }

 .musictu {
     right: 9px;
     top: 8px;
     position: absolute;

 }

 @keyframes run {
     0% {
         transform: rotate(0deg);

     }
     100% {
         transform: rotate(360deg);
     }
 }